# Versión de la sintaxis de compose
version: '3.8'

# Aquí definimos nuestros servicios (contenedores)
services:

  # Servicio: El Frontend (React + Nginx)
  frontend:
    # Le decimos dónde está su Dockerfile
    build:
      context: ./Midnight-Phonk
    container_name: react-app
    ports:
      # Mapea el puerto 80 de la EC2 al puerto 80 del contenedor
      - "80:80"
    restart: always